NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/url-shortener
JWT_SECRET=your_super_secret_key_change_this
JWT_EXPIRES_IN=7d
REDIS_URL=redis://localhost:6379
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=url-shortener
KAFKA_CLICK_TOPIC=url-clicks